@import url("../../App.css");

.dark-theme {
    --color-black: hsl(0, 0%, 4%);
    --color-text: hsl(0, 0%, 23%);
    --color-accent-hc: hsl(0, 0%, 17%);
    --color-accent-lc: hsl(0, 0%, 50%);
    --color-background: rgb(68, 68, 68);
    --color-contrast: hsl(217, 45%, 53%);
    --border: 3px solid var(--color-black);
}

.light-theme {
    --color-black: hsl(0, 0%, 4%);
    --color-text: hsl(0, 0%, 13%);
    --color-accent-lc: hsl(0, 0%, 80%);
    --color-accent-hc: hsl(0, 0%, 41%);
    --color-background: hsl(0, 0%, 92%);
    --color-contrast: hsl(87, 21%, 60%);
    --border: 3px solid var(--color-black);
}

ac-calendar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.App-content:has(ac-calendar) {
    padding: 0;
    margin: 0;
}

.calendar-view {
    display: grid;
    grid-template-columns: 20fr 70fr;
    height: 100%;
}

.calendar-view ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    li {
        height: 50px;
        background-color: rgba(124, 124, 124, 0.178);
        padding: 0px;
        border-right: 1px solid rgba(0, 0, 0, 0.226);
        text-align: center;
        align-content: center;
    }
}

@media screen and (max-width: 85em) {
    .calendar-view {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr;
        height: 100%;
    }

    .calendar-side {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: start;
        justify-items: center;
        border-right: 0px solid black;
        border-bottom: 1px solid black;
    }
}

@media screen and (min-width: 85em) {
    .calendar-side {
        background-color: var(--color-shade-4);
        display: grid;
        grid-auto-flow: row dense;
        align-content: start;
        justify-items: center;
        border-right: 1px solid black;
        border-bottom: 0px solid black;
    }
}



.calendar-main {
    height: 100%;
    display: grid;
    grid-template-rows: 50px 50px 1fr;
}

.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}


/*calendar side bars*/

.calendar-side>div {
    padding: 5px 10px;
}

.cal-now-month {
    font-size: 50px;
    font-weight: 500;
    user-select: none;
}

.cal-sel-month {
    font-size: 30px;
    font-weight: 500;
    user-select: none;
}

.cal-prev-month,
.cal-next-month {
    font-family: monospace;
    font-size: 50px;
    opacity: 20%;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    user-select: none;
    padding-bottom: 10px;
}

.cal-prev-month:hover,
.cal-next-month:hover {
    opacity: 50%;
}

.cal-prev-month:active,
.cal-next-month:active {
    opacity: 100%;
}



.cal-month-sel-wr {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.cal-now-weekday {
    font-size: 50px;
    font-weight: 500;
}

.calendar-week-days {
    ul>li {
        user-select: none;
    }
}

.cal-now-date {
    font-size: 80px;
    user-select: none;
}

.cal-dates-cont {
    color: var(--color-text);
    user-select: none;
    align-items: center;
    padding: 10px;
    font-size: 1.2rem;
    border-right: 1px solid var(--color-accent-hc);
    border-top: 1px solid var(--color-accent-hc);
    transition: all 0.2s cubic-bezier(0.05, 0, 0.0, 1);
}

.cal-dates-cont.cal-inactive {
    color: var(--color-text);
    background-color: var(--color-accent-lc);
}

.cal-dates-cont.cal-inactive:hover,
.cal-dates-cont.cal-inactive:active {
    background-color: var(--color-background);
    box-shadow: none;
}

.cal-dates-cont:hover {

    background-color: var(--color-contrast);
}

.cal-dates-cont:active {
    box-shadow: inset 0 0 50px 0px rgba(255, 255, 255, 0.4);
}

.dyn-day {
    display: flex;
}