<link defer rel="stylesheet" href="./views/styles/menusStyle.css" />
<div class="planner-main">
  <time-line data-drag>
    <ac-drag-card></ac-drag-card>
    <ac-drag-card></ac-drag-card>
    <ac-drag-card></ac-drag-card>
    <ac-drag-card></ac-drag-card>
    <ac-drag-card></ac-drag-card>
    <ac-drag-card class="anchor"></ac-drag-card>
    <ac-drag-card></ac-drag-card>
    <menu-sliding-anchored>
      <div class="content">test test testing test</div>
    </menu-sliding-anchored>
  </time-line>
  <button type="button" onclick="document.querySelector('menu-sliding-anchored').classList.toggle('sliding')">just a button</button>

</div>
