
<div class="category" id="tm-trackers"></div>


<div class="optionalhidden">
    <div id="tm-newcat">
        <form id="create-category">
            <label for="name">Category Name: </label>
            <input type="text" name="name">

            <label for="color">Color: </label>
            <input type="color" name="color">

            <button type="button" id="submit-cat">ok</button>
        </form>

        <button type="button" id="reset-categories">Reset all categories</button>
        <button type="button" id="reset-trackers">Reset all trackersw</button>
    </div>
</div>