<div class="trackercard-header">
    <i class="ph-bold ph-star" id="tracker-icon"></i>
    <h2 id="tracker-name">tracker name</h2>
</div>
<div class="trackercard-body">
    <div id="tracker-input"></div>
    <div class="trackercard-stats"></div>
</div>



<dialog class="tc-dialog">



    <div class="dialog-trackercard-header">
        <i class="ph-bold ph-star" id="dialog-tracker-icon"></i>
        <h2 id="dialog-tracker-name">tracker name</h2>
    </div>
    <div class="dialog-trackercard-body">
        <div id="dialog-tracker-input"></div>
        <div class="trackercard-stats" id="dialog-trackercard-stats"></div>
    </div>
    
    <div class="trackercard-nav">
        <button type="button" class="button-neutral">View Entries</button>
        <button type="button" id="add-entry">Add Entry</button>
        <button type="button" class="button-positive" id="tc-edit">Edit Tracker</button>
        <button type="button" id="tc-close">
            Close
        </button>
        </div>
</dialog>