/* --------------------------------------------GLOBAL */

body {
    display: flex;
    flex-direction: column;

    font-family: var(--font-main);
    font-size: medium;
    color: var(--color-text);

    margin: 0px;
    padding: 0px;
    height: 100vh;

    background-color: var(--current-bg-color);
    --current-bg-color: var(--color-background);

    --color-shade-0: color-mix(in hsl, black 70%, var(--color-contrast) 100%);
    --color-shade-1: color-mix(in hsl, black 30%, var(--color-contrast) 100%);
    --color-shade-2: color-mix(in hsl, black 10%, var(--color-contrast) 100%);

    --color-shade-3: color-mix(in hsl, white 10%, var(--color-contrast) 100%);
    --color-shade-4: color-mix(in hsl, white 30%, var(--color-contrast) 100%);
    --color-shade-5: color-mix(in hsl, white 50%, var(--color-contrast) 100%);

    --color-urgent: #f6788d;
    --color-medium: #f2a11c;
    --color-neutral: #949de0;
    --color-positive: #d0bf6c;
    --color-negative: rgb(202, 127, 129);


    overflow: clip;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 0.5em;
    height: min-content;
    align-items: center;
}

.App {
    display: flex;
    flex-direction: row;

    height: 100%;
    overflow: hidden;
}

.App-content {

    background-color: var(--current-bg-color);
    --current-bg-color: var(--color-background);
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    padding: 1rem;
    overflow-y: auto;
}

#App-top-bar {
    background-color: var(--color-accent-lc);
    border-bottom: 2px solid var(--color-accent-hc);
    box-shadow: 0 5px 5px 5px black;

    h1 {
        font-size: large;
    }
}

.invisible-input {
    visibility: hidden;
    height: 0px;
}


/*COLORS*/
:root {

    --color-placeholder: #2f85db;

    --font-main: "Urbanist", sans-serif;
    --font-second: "Solway", serif;
    --font-hand-small: "Hubballi", sans-serif;
    --font-hand-big: "Jua", sans-serif;

    --color-shade-0: color-mix(in hsl, black 70%, var(--color-contrast) 100%);
    --color-shade-1: color-mix(in hsl, black 30%, var(--color-contrast) 100%);
    --color-shade-2: color-mix(in hsl, black 10%, var(--color-contrast) 100%);

    --color-shade-3: color-mix(in hsl, white 10%, var(--color-contrast) 100%);
    --color-shade-4: color-mix(in hsl, white 30%, var(--color-contrast) 100%);
    --color-shade-5: color-mix(in hsl, white 50%, var(--color-contrast) 100%);
}

.dark-theme {
    --color-white: hsl(0deg 0% 0% / 74%);
    --color-black: hsl(0, 0%, 0%);
    --color-text: hsl(0, 0%, 89%);
    --color-accent-hc: hsl(0, 0%, 17%);
    --color-accent-lc: hsl(0, 0%, 50%);
    --color-background: rgb(68, 68, 68);
    --color-contrast: hsl(217, 45%, 53%);
    --border: 3px solid var(--color-black);
}

.light-theme {
    --color-white: hsl(0deg 0% 100% / 74%);
    --color-black: hsl(0, 0%, 4%);
    --color-text: hsl(0, 0%, 13%);
    --color-accent-lc: hsl(0, 0%, 80%);
    --color-accent-hc: hsl(0, 0%, 41%);
    --color-background: hsl(0, 0%, 92%);
    --color-contrast: hsl(87, 21%, 60%);
    --border: 3px solid var(--color-black);
}

.palette-1 {
    --user-color-1: #ef9595;
    --user-color-2: #efb495;
    --user-color-3: #ebef95;
    --user-color-4: hsla(323, 100%, 14%, 0.7);


}

.palette-2 {
    --user-color-1: hsl(358, 89%, 72%);
    --user-color-2: hsl(42, 94%, 75%);
    --user-color-3: hsl(144, 100%, 89%);
    --user-color-4: hsla(235, 100%, 35%, 0.352);
}

.palette-3 {
    --user-color-1: #3a4d39;
    --user-color-2: #739072;
    --user-color-3: #ece3ce;
    --user-color-4: #482a0e38;
}

.custom-palette::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--user-color-4);
    mask-image: linear-gradient(black 2%, rgba(0, 0, 0, 0.431), transparent);
    backdrop-filter: brightness(70%) contrast(110%) saturate(110%) hue-rotate(300deg);
    opacity: 90%;
}

.custom-palette {
    margin: 10px;
    border: var(--border);
    border-radius: 30px;
    width: 50%;
    height: 150px;
    background: linear-gradient(to right,
            var(--user-color-1),
            var(--user-color-2),
            var(--user-color-3));
    overflow: clip;
    position: relative;
    text-align: center;
    align-content: center;

    h3 {
        font-size: medium;
    }
}




/* --------------------------------------------REUSABLE UI ELEMENTS */

/*buttons*/
button {
    font-family: var(--font-second);
    letter-spacing: 3px;
    font-size: medium;
    font-weight: 410;

    padding: 10px 0px 10px 0px;

    border: 2px solid black;
    border-radius: 7px;
    min-width: max-content;
    max-width: 100%;
    max-height: min-content;
    margin-bottom: 8px;
    margin-top: 8px;
    --button-color: var(--color-shade-4);
    background-color: var(--button-color);

    box-shadow: -2px 3px var(--color-black);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    transition: background-color 0.1s;
    text-align: center;
    align-items: center;
    color: var(--color-black);

    i {
        order: 0;
        font-size: x-large;
        padding-right: 10px;
    }

    padding-left: 10px;
    padding-right: 10px;

    &:hover {
        background-color: color-mix(in hsl,
                var(--button-color) 90%,
                var(--color-background) 10%);
    }

    &:active {

        box-shadow: none;

        transform: translate(-1px, 1px);
        background-color: color-mix(in hsl,
                var(--button-color) 90%,
                var(--color-text) 10%);
    }

    &.round {
        max-height: 100px;
        text-size-adjust: 50%;
        justify-content: center;
        aspect-ratio: 1;
        border-radius: 100vw;
    }
}

.button-group {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-evenly;
    row-gap: 5px;
    column-gap: 10px;
}

.button-negative {
    --button-color: var(--color-negative);
}

.button-neutral {
    --button-color: var(--color-neutral);
}

.button-positive {
    --button-color: var(--color-positive);
}

/* lists and menus */

ul {
    all: unset;
    list-style-type: none;
}

.menu-sidebar {
    z-index: 1;
}

.menu-burger {
    z-index: 1;
}

.side-menu {
    z-index: 1;
    --current-bg-color: var(--color-accent-lc);
    background-color: var(--current-bg-color);
    border-right: 2px solid var(--color-text);
    width: 30%;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    padding: 8px;

    button {
        width: 100%;
        height: 3.5rem;
        margin-bottom: 5px;
        color: var(--color-text);

        --button-color: var(--color-background);

        /* proper way to change color of button. Changing it will also work on :hover and :active*/
    }

    button:hover {
        background-color: var(--color-shade-4);
    }

    button:active {
        background-color: var(--color-shade-2);
    }


}

ul.menu {
    padding-left: 0;
    display: flex;
    flex-direction: column;

    li {
        list-style: none;
    }
}

.menu-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

/*text and paragraphs */
p {
    font-family: var(--font-main);
    font-size: 13pt;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--color-text);
    margin: auto;
}

h1 {
    font-family: var(--font-second);
    font-size: xx-large;
    font-weight: 400;
    color: var(--color-text);
    margin: 0;
    padding: 0;
}

h2 {
    font-family: var(--font-hand-big);
    text-align: center;
    font-size: larger;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 200;
    color: var(--color-text);
    margin: 0;
    padding: 0;
}

h3 {
    font-family: var(--font-second);
    font-size: larger;
    font-weight: 400;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
    filter: invert(1);
    mix-blend-mode: difference;
}

/* other small components */
.colordot {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: var(--tracker-color);
}

/* inputs */
label {
    color: var(--color-text);
}

input[type=radio] {
    appearance: none;
    border-radius: 50%;
    width: 18px;
    aspect-ratio: 1;
    border: 2px solid var(--color-black);

    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
    top: 4px;
}

input[type=radio]:hover {
    background-color: var(--color-accent-lc);

}

input[type=radio]:checked {
    background-color: var(--color-text);

}

input[type=text],
input[type=number] {

    all: unset;
    padding: 10px;
    margin: auto;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    outline: none;
    color: var(--color-text);
    border-color: var(--color-accent-hc);
}

input[type="checkbox"] {
    all: unset;

    background-color: var(--color-background);
    margin: 0;

    font: inherit;
    color: var(--tracker-color);
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--color-black);
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    margin: 0px;
    appearance: none;
    display: none;
}

.number-input-wrapper {
    position: relative;
    display: inline-block;
}

input[type=number] {
    cursor: default;
    color: var(--color-text);

    border: var(--border);
}

.number-input-wrapper::before {
    content: 'â–²';
    position: absolute;
    top: 0;
    right: 5px;
    height: 50%;

    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: var(--color-black);
    background: transparent;
    cursor: pointer;
    pointer-events: none;
}

.number-input-wrapper::after {
    content: 'â–¼';
    position: absolute;
    bottom: 0;
    right: 5px;
    height: 50%;

    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: var(--color-black);
    background: transparent;
    cursor: pointer;
    pointer-events: none;
}

.input-hidden {
    display: none;
    width: 0px;
}

textarea {
    outline: none;
    border: var(--border);
    border-radius: 10px;
    font-family: var(--font-hand-small);
    font-size: 1.4em;
    height: 7em;
    width: 100%;
    background-color: white;
    overflow-wrap: break-word;
    padding: 20px;
    resize: none;
    text-align: left;
}

textarea:focus {

    border: var(--border);
}


/* timeslider */
ac-timeslider {

    min-width: max-content;
    min-height: fit-content;
    display: flex;
    align-content: center;
    width: 100%;

    span {
        width: 3.5em;

    }

    .slider {
        -webkit-appearance: none;
        appearance: none;
        border-radius: 1Opx;
        background-color: var(--color-accent-lc);
        height: 1px;
        border: 0px solid transparent;
        width: 100%;


    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        border: var(--border);
        background: color-mix(in hsl, var(--tracker-color) 60%, hsla(0, 0%, 0%, 0) 20%);

        cursor: pointer;
        transition: .2s;

    }

    .slider::-webkit-slider-thumb:hover {
        transform: scale(1.1);
        background: var(--tracker-color);
    }

    .slider::-webkit-slider-thumb:active {
        background: var(--tracker-color);
        transform: scale(0.9);

    }




}

/*starsystem*/
ac-starsystem {
    display: flex;
    flex-flow: row nowrap;
    gap: 2px;
    pointer-events: none;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;


    .starsystem-star {
        display: grid;
        pointer-events: all;

        i {
            grid-row: 1;
            grid-column: 1;
            pointer-events: none;
        }

        .ph-fill {
            color: transparent;
            z-index: 0;
        }

        .ph,
        .ph-bold {
            color: var(--color-black);
            z-index: 1;
        }

    }

    .on {
        i {
            pointer-events: none;
        }

        .ph-fill {
            color: var(--color-black);
            z-index: 0;
        }
    }

}

/* --------------------------------------------VIEWS */

/* --------------------------------------------CUSTOM COMPONENTS */


/*starsystem*/

/*sliding tab*/
ac-slidingtab {
    display: block;

    margin-left: 0px;

    padding-bottom: auto;
    max-width: min-content;

    position-anchor: --anchor;
    position: fixed;
    top: anchor(top);
    left: anchor(left);
    margin-bottom: 15px;

    transition: left 0.5s, opacity 0.5s;
}

ac-slidingtab.unslided {
    opacity: 10%;
    position-anchor: --anchor;
    pointer-events: none;
}

ac-slidingtab.sliding {
    opacity: 50%;
    pointer-events: none;

}

ac-slidingtab.unsliding {
    opacity: 50%;
    pointer-events: none;

}

ac-slidingtab.slided {
    opacity: 100%;
    position-anchor: --anchor2;
    pointer-events: all;
}

.sliding-container {
    display: block;
    width: 100%;
    height: 100%;
    visibility: visible;
    display: flex;
    background-color: green;

    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    clip-path: rect(0px 200% 200% 100%);
}

/* invokers */
.smaller-invoker {
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: unset;
    box-shadow: unset;
    font-size: 0.5em;
    background-color: var(--tracker-color);
    color: var(--color-black);
    width: fit-content;
    height: fit-content;
    position-anchor: --button-anchor;
    position: fixed;
    top: anchor(center);
    left: anchor(center);

    z-index: 1;
    padding: 1px;

    margin-left: 2em;
    margin-top: 2em;

    i {
        all: unset;
    }

    transition: .2s;
}

.smaller-invoker:hover {
    transform: scale(1.1);
}

/* icon selector */

ac-iconselector {


    .button-active {
        background-color: var(--color-background);
        border-bottom-color: transparent;
    }

    .button-inactive {
        background-color: #91919182;
    }

    .button-inactive:hover {
        background-color: #bcbcbccc
    }

    button {

        border-radius: 10px 10px 0px 0px;
        margin: 0px;
        padding: 0.5em;
        letter-spacing: 2px;
        font-family: var(--font-hand-small);
        font-weight: 900;


    }
}



#iconselector-invoker:before {

    anchor-name: --anchor;

    position: absolute;
    left: 0%;
    content: "";



}

#iconselector-invoker:after {

    anchor-name: --anchor2;

    position: absolute;
    content: "";
    left: 100%;
}

#iconselector-invoker {
    display: flex;


    button {
        aspect-ratio: 1/1;
        justify-content: center;
        background-color: white;
        padding: 10px;
        border-radius: 30%;
        anchor-name: --button-anchor;

    }


}

#is-wrapper {
    display: flex;
    flex-flow: column nowrap;

    border: var(--border);
    border-top: 1px solid transparent;
    border-radius: 15px 15px 0px 0px;
}

#tabwrapper {

    display: flex;
    flex-flow: row nowrap;

    order: 1;
}


.is-category {

    overflow-y: scroll;
    order: 2;
    max-height: 20em;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: flex-start;
    align-content: flex-start;
    background-color: var(--color-background);

    i {
        flex-grow: 0;
        font-size: 45px;
        margin: auto;
        padding: 0;
        border: 1px solid transparent;
        border-radius: 50%;
    }

    i:hover {

        background-color: var(--color-accent-lc);

    }

    i:active {
        color: var(--color-shade-1);
    }
}


/*dialog*/
dialog:open {
    max-height: 85%;
    overflow-y: scroll;
    background-color: var(--color-background);
    padding: 0;
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 5px 5px;
    box-shadow: -7px 12px 0px 1px color-mix(in hsl, var(--color-black) 20%, hsla(0, 0%, 0%, 0) 20%);
    overflow: visible;
}


dialog {

    min-width: fit-content;
    display: none;
}

dialog:-internal-dialog-in-top-layer {
    max-width: 80%;
    min-width: 30%;

}

.dialog-extras {
    overflow: visible;
}

.dialog-body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;


}

dialog::backdrop {
    opacity: 0.2;
    background-color: rgba(0, 0, 0, 0.53);
    background-image: url("data:image/svg+xml,<svg id='patternId' width='300%' height='300%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%2300000000'/><path d='M11 6a5 5 0 01-5 5 5 5 0 01-5-5 5 5 0 015-5 5 5 0 015 5'  stroke-width='1' stroke='none' fill='%23000000ff'/></pattern></defs><rect width='900%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.top-bar {
    --top-bar-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 15px;
    padding-right: 5px;
    margin: 0px;
    height: var(--top-bar-height);

    background-color: var(--color-accent-lc);
    border-radius: 10px 10px 0 0;
    border-bottom: var(--border);

    div {
        display: flex;
        flex-flow: row nowrap;
    }

    button {
        all: unset;

        display: flex;
        padding: 0;
        justify-content: center;
        align-items: center;
        margin-top: 50%;
        margin-bottom: 50%;

        height: 25px;
        border-radius: 50%;
        border-style: solid;
        border-width: 2px;
        border-color: var(--color-black);
        aspect-ratio: 1/1;
        margin-left: 3px;

        i {
            all: unset;
            font-size: 20px;
            text-align: center;
            vertical-align: middle;
        }

        background-color: color-mix(in hsl,
            var(--color-accent-lc) 50%,
            var(--color-background) 50%);
        color: var(--color-black);

        &:hover {
            background-color: color-mix(in hsl,
                    var(--color-accent-lc) 20%,
                    var(--color-background) 80%);
        }

        &:active {
            background-color: color-mix(in hsl,
                    var(--color-accent-lc) 90%,
                    var(--color-background) 10%);
        }
    }
}

.halftone:before {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
    content: "";
    background-color: var(--tracker-color);
    opacity: 70%;
    mask: url('./assets/column.svg');
    mask-repeat: repeat-x;
    mask-position: bottom;
    mask-size: 12px;
}

/*icons*/
i {
    font-size: 40px;
    font-weight: 500;
}

ac-iconcheckbox {
    width: fit-content;
    display: grid;
    gap: 0;
    margin: 0;
    padding: 0;

    .empty {
        color: transparent;
        visibility: hidden;
    }

    ;

    .half {
        color: var(--color-text);
        mask: url("data:image/svg+xml,<svg id='patternId' width='300%' height='300%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='13' height='13' patternTransform='scale(1.3) rotate(45)'><rect x='0' y='0' width='100%' height='100%' fill='%2300000000'/><path d='M11 6a5 5 0 01-5 5 5 5 0 01-5-5 5 5 0 015-5 5 5 0 015 5'  stroke-width='1' stroke='solid' fill='%23000000ff'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
        mask-repeat: repeat-x;
        mask-position: center;
        mask-size: 100%;
    }

    ;

    .full {
        color: var(--color-text);
    }


    .ph-fill,
    .ph-bold,
    .ph {
        padding: 0;
        margin: 0;
        grid-column: 1;
        grid-row: 1;
    }

    .ph-fill {
        z-index: 0;
        color: var(--tracker-color);
    }

    .ph-bold,
    .ph {
        z-index: 1;
        color: var(--color-black)
    }

    transition: 300ms transform ease-in-out;
    margin: 0;
    padding: 0;

}



ac-iconcheckbox:hover {
    transform: scale(1.25);
}

.icon-contoured {
    border: 4px solid var(--color-black);
    padding: 0px;
    margin: 0px;
    display: grid;
    gap: 0;

    i {
        color: var(--color-text);
    }

    .ph-fill,
    .ph {
        padding: 0;
        margin: 0;
        grid-column: 1;
        grid-row: 1;
        font-size: var(--icon-size);
    }

    .ph-fill {
        z-index: 0;
        color: var(--tracker-color);
    }

    .ph {
        z-index: 1;
        color: var(--color-black)
    }
}



/*----------AC-CREATETRACKER ------------------*/
ac-createtracker {

    .invisible-input {
        margin: 0;
        padding: 0;

    }

    form {

        display: flex;
        flex-flow: column nowrap;
        gap: 0.25em;
        padding: 1em;

        button[type=submit] {
            width: fit-content;
            align-self: center;
        }
    }

    #ct-main-options {
        display: flex;
        flex-flow: row nowrap;
        gap: 3em;
        justify-content: center;


        #ct-main-inputs {
            font-family: var(--font-hand-big);
            display: flex;
            flex-flow: column nowrap;
            gap: 1em;
            color: var(--color-text);

            input[type=text] {

                margin-top: 0.75em;
                field-sizing: content;
                padding: 0;
                border-radius: 0;
                border: none;
                border-bottom: 0.18em dotted var(--color-black);
                color: var(--color-text);
                font-size: xx-large;
                background-color: transparent;
            }

            select {
                color: var(--color-text);
                font-family: var(--font-hand-small);
                font-size: 1.4rem;
                padding: 0.25em;
                border: 0px solid transparent;
                background-color: var(--color-white);
                border-radius: 10px;

            }
        }

        i {
            font-size: 5em;

        }
    }

    #ct-bottom {
        color: var(--color-text);
        display: flex;
        flex-flow: row nowrap;
        margin-top: 2em;
        gap: 1em;
        flex-basis: 15em;
        justify-content: space-around;

        #ct-options {
            margin: auto;
            min-width: fit-content;

            display: flex;
            flex-flow: column nowrap;
            gap: 10px;




            input[type=number] {

                max-width: 2em;
                padding: 6px;
                padding-left: 0.5em;
                text-align: left;
            }
        }

        .ct-option {}


        #ct-preview {


            border-radius: 20px;
            background-color: var(--color-white);
            border: 3px dashed var(--color-accent-hc);
            width: 100%;

        }

    }





}

.hidden {
    opacity: 100%;
    height: 0px;

    visibility: hidden;
    order: 3;
}

.shown {
    padding-top: 10px;
    padding-bottom: 10px;
    visibility: visible;
    order: 2;
    height: 15em;
}

/*-------------TABS--------------------------*/

.tabs {

    padding: 10px;

    button {
        background-color: var(--color-background);
        border-radius: 10px 10px 0px 0px;

        box-shadow: unset;
        border-bottom: 2px solid var(--color-background);
        z-index: 1;

        margin-bottom: -2px;
    }

    button:hover {}

    .button-inactive {
        background-color: var(--color-accent-lc);
        border-bottom: none;
        margin-bottom: 0px;


    }

    .tab-content {
        z-index: 0;
        align-content: center;
        background-color: var(--color-background);
        min-height: 100px;
        padding: 0;
        border: 2px solid var(--color-black);
        border-radius: 0px 0px 10px 10px;
    }
}

ac-trackercard {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    align-content: center;
    text-align: center;
    padding: 1em;
    justify-content: space-between;




    #tracker-icon {
        align-self: center;
        font-size: 4em;
        color: var(--tracker-color);
        width: fit-content;

    }

    ;

    #tracker-name {
        align-self: center;
        font-size: 1.5em;

    }

    ;

    .trackercard-header {

        display: flex;
        flex-flow: column nowrap;
        gap: 0.5em;
        justify-content: center;
        vertical-align: middle;


    }

    .trackercard-body {
        flex: 100%;
        align-content: center;
        vertical-align: middle;
        overflow-x: hidden;
    }

    .trackercard-nav {

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        display: none;
    }
}

/*color selector*/
ac-colorpicker {
    background-color: var(--color-background);



    #colorpicker-area {
        border: var(--border);

        background-color: #2f85db;
        width: 300px;
        height: 300px;
    }

    #colorpicker-output {}
}

.tm-trackers {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    font-size: 0.8rem;
    gap: 1em;
    background-color: var(--color-positive);
    padding: 1em;


    ac-trackercard {
        max-width: fit-content;
        min-width: 20%;
        flex-grow: 1;
        flex-shrink: 3;
        background-color: var(--color-white);
        border: var(--border);
        border-radius: 10px;

    }
}