/* timeslider */
ac-timeslider {

    min-width: max-content;
    min-height: fit-content;
    display: flex;
    align-content: center;
    width: 100%;

    span {
        width: 3.5em;

    }

    .slider {
        -webkit-appearance: none;
        appearance: none;
        border-radius: 1Opx;
        background-color: var(--color-accent-lc);
        height: 1px;
        border: 0px solid transparent;
        width: 100%;


    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        border: var(--border);
        background: color-mix(in hsl, var(--tracker-color) 60%, hsla(0, 0%, 0%, 0) 20%);

        cursor: pointer;
        transition: .2s;

    }

    .slider::-webkit-slider-thumb:hover {
        transform: scale(1.1);
        background: var(--tracker-color);
    }

    .slider::-webkit-slider-thumb:active {
        background: var(--tracker-color);
        transform: scale(0.9);

    }




}

/*starsystem*/
ac-starsystem {
    display: flex;
    flex-flow: row nowrap;
    gap: 2px;
    pointer-events: none;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;


    .starsystem-star {
        display: grid;
        pointer-events: all;

        i {
            grid-row: 1;
            grid-column: 1;
            pointer-events: none;
        }

        .ph-fill {
            color: transparent;
            z-index: 0;
        }

        .ph,
        .ph-bold {
            color: var(--color-black);
            z-index: 1;
        }

    }

    .on {
        i {
            pointer-events: none;
        }

        .ph-fill {
            color: var(--color-black);
            z-index: 0;
        }
    }

}

/*sliding tab*/
ac-slidingtab {
    display: block;

    margin-left: 0px;

    padding-bottom: auto;
    max-width: min-content;

    position-anchor: --anchor;
    position: fixed;
    top: anchor(top);
    left: anchor(left);
    margin-bottom: 15px;

    transition: left 0.5s, opacity 0.5s;
}

ac-slidingtab.unslided {
    opacity: 10%;
    position-anchor: --anchor;
    pointer-events: none;
}

ac-slidingtab.sliding {
    opacity: 50%;
    pointer-events: none;

}

ac-slidingtab.unsliding {
    opacity: 50%;
    pointer-events: none;

}

ac-slidingtab.slided {
    opacity: 100%;
    position-anchor: --anchor2;
    pointer-events: all;
}

.sliding-container {
    display: block;
    width: 100%;
    height: 100%;
    visibility: visible;
    display: flex;
    background-color: green;

    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    clip-path: rect(0px 200% 200% 100%);
}

/* icon selector */

ac-iconselector {


    .button-active {
        background-color: var(--color-background);
        border-bottom-color: transparent;
    }

    .button-inactive {
        background-color: #91919182;
    }

    .button-inactive:hover {
        background-color: #bcbcbccc
    }

    button {

        border-radius: 10px 10px 0px 0px;
        margin: 0px;
        padding: 0.5em;
        letter-spacing: 2px;
        font-family: var(--font-hand-small);
        font-weight: 900;


    }
}



#iconselector-invoker:before {

    anchor-name: --anchor;

    position: absolute;
    left: 0%;
    content: "";



}

#iconselector-invoker:after {

    anchor-name: --anchor2;

    position: absolute;
    content: "";
    left: 100%;
}

#iconselector-invoker {
    display: flex;


    button {
        aspect-ratio: 1/1;
        justify-content: center;
        background-color: white;
        padding: 10px;
        border-radius: 30%;
        anchor-name: --button-anchor;

    }


}

#is-wrapper {
    display: flex;
    flex-flow: column nowrap;

    border: var(--border);
    border-top: 1px solid transparent;
    border-radius: 15px 15px 0px 0px;
}

.smaller-invoker {
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: unset;
    box-shadow: unset;
    font-size: 0.5em;
    background-color: var(--tracker-color);
    color: var(--color-black);
    width: fit-content;
    height: fit-content;
    position-anchor: --button-anchor;
    position: fixed;
    top: anchor(center);
    left: anchor(center);

    z-index: 1;
    padding: 1px;

    margin-left: 2em;
    margin-top: 2em;

    i {
        all: unset;
    }

    transition: .2s;
}

.smaller-invoker:hover {
    transform: scale(1.1);
}

#tabwrapper {

    display: flex;
    flex-flow: row nowrap;

    order: 1;
}


.is-category {

    overflow-y: scroll;
    order: 2;
    max-height: 20em;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: flex-start;
    align-content: flex-start;
    background-color: var(--color-background);

    i {
        flex-grow: 0;
        font-size: 45px;
        margin: auto;
        padding: 0;
        border: 1px solid transparent;
        border-radius: 50%;
    }

    i:hover {

        background-color: var(--color-accent-lc);

    }

    i:active {
        color: var(--color-shade-1);
    }
}

/*-- ICON CHECKBOX */

ac-iconcheckbox {
    width: fit-content;
    display: grid;
    gap: 0;
    margin: 0;
    padding: 0;

    .empty {
        color: transparent;
        visibility: hidden;
    }

    ;

    .half {
        color: var(--color-text);
        mask: url("data:image/svg+xml,<svg id='patternId' width='300%' height='300%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='13' height='13' patternTransform='scale(1.3) rotate(45)'><rect x='0' y='0' width='100%' height='100%' fill='%2300000000'/><path d='M11 6a5 5 0 01-5 5 5 5 0 01-5-5 5 5 0 015-5 5 5 0 015 5'  stroke-width='1' stroke='solid' fill='%23000000ff'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
        mask-repeat: repeat-x;
        mask-position: center;
        mask-size: 100%;
    }

    ;

    .full {
        color: var(--color-text);
    }


    .ph-fill,
    .ph-bold,
    .ph {
        padding: 0;
        margin: 0;
        grid-column: 1;
        grid-row: 1;
    }

    .ph-fill {
        z-index: 0;
        color: var(--tracker-color);
    }

    .ph-bold,
    .ph {
        z-index: 1;
        color: var(--color-black)
    }

    transition: 300ms transform ease-in-out;
    margin: 0;
    padding: 0;

}



ac-iconcheckbox:hover {
    transform: scale(1.25);
}

.icon-contoured {
    border: 4px solid var(--color-black);
    padding: 0px;
    margin: 0px;
    display: grid;
    gap: 0;

    i {
        color: var(--color-text);
    }

    .ph-fill,
    .ph {
        padding: 0;
        margin: 0;
        grid-column: 1;
        grid-row: 1;
        font-size: var(--icon-size);
    }

    .ph-fill {
        z-index: 0;
        color: var(--tracker-color);
    }

    .ph {
        z-index: 1;
        color: var(--color-black)
    }
}

/*----------AC-CREATETRACKER ------------------*/
ac-createtracker {

    .invisible-input {
        margin: 0;
        padding: 0;

    }

    form {

        display: flex;
        flex-flow: column nowrap;
        gap: 0.25em;
        padding: 1em;

        button[type=submit] {
            width: fit-content;
            align-self: center;
        }
    }

    #ct-main-options {
        display: flex;
        flex-flow: row nowrap;
        gap: 3em;
        justify-content: center;


        #ct-main-inputs {
            font-family: var(--font-hand-big);
            display: flex;
            flex-flow: column nowrap;
            gap: 1em;
            color: var(--color-text);

            input[type=text] {

                margin-top: 0.75em;
                field-sizing: content;
                padding: 0;
                border-radius: 0;
                border: none;
                border-bottom: 0.18em dotted var(--color-black);
                color: var(--color-text);
                font-size: xx-large;
                background-color: transparent;
            }

            select {
                color: var(--color-text);
                font-family: var(--font-hand-small);
                font-size: 1.4rem;
                padding: 0.25em;
                border: 0px solid transparent;
                background-color: var(--color-white);
                border-radius: 10px;

            }
        }

        i {
            font-size: 5em;

        }
    }

    #ct-bottom {
        color: var(--color-text);
        display: flex;
        flex-flow: row nowrap;
        margin-top: 2em;
        gap: 1em;
        flex-basis: 15em;
        justify-content: space-around;

        #ct-options {
            margin: auto;
            min-width: fit-content;

            display: flex;
            flex-flow: column nowrap;
            gap: 10px;




            input[type=number] {

                max-width: 2em;
                padding: 6px;
                padding-left: 0.5em;
                text-align: left;
            }
        }

        .ct-option {}


        #ct-preview {


            border-radius: 20px;
            background-color: var(--color-white);
            border: 3px dashed var(--color-accent-hc);
            width: 100%;

        }

    }





}

.hidden {
    opacity: 100%;
    height: 0px;

    visibility: hidden;
    order: 3;
}

.shown {
    padding-top: 10px;
    padding-bottom: 10px;
    visibility: visible;
    order: 2;
    height: 15em;
}

ac-trackercard {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    align-content: center;
    text-align: center;
    padding: 1em;
    justify-content: space-between;


    .tc-dialog {
        padding: 10px;
        font-size: medium;
        /* maybe instead of navbuttons, smaller ones with icons. And also mooore details on the tracker but we'll see to that later*/
    }

    #tracker-icon {
        align-self: center;
        font-size: 4em;
        color: var(--tracker-color);
        width: fit-content;

    }

    ;

    #tracker-name {
        align-self: center;
        font-size: 1.5em;

    }

    ;

    .trackercard-header {

        display: flex;
        flex-flow: column nowrap;
        gap: 0.5em;
        justify-content: center;
        vertical-align: middle;


    }

    .trackercard-body {
        flex: 100%;
        align-content: center;
        vertical-align: middle;
        overflow-x: hidden;
    }

    .trackercard-nav {

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;

    }
}

/*color selector*/
ac-colorpicker {
    background-color: var(--color-background);



    #colorpicker-area {
        border: var(--border);

        background-color: #2f85db;
        width: 300px;
        height: 300px;
    }

    #colorpicker-output {}
}


ac-trackermanager {
    ac-trackercard {
        max-width: fit-content;
        min-width: 20%;
        flex-grow: 1;
        flex-shrink: 3;
        background-color: var(--color-white);
        border: var(--border);
        border-radius: 10px;
    }



    .category {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        font-size: 0.8rem;
        gap: 1em;
        background-color: var(--color-positive);
        padding: 1em;
        background-color: var(--color);
    }
}